    .form-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-label {
    font-weight: bold;
    }

    .form-label select {
    background-color: #0F4C75;
    color: white;
    border: none;
    padding: 10px 5px 10px 10px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    }

    .form-label select :hover {
    background-color: #1B262C;
    }

    .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    }

    .form-buttons {
    justify-content: center; 
    }

    .btn {
    padding: 10px 20px;
    border-radius: 5px;
    }

    .btn-primary {
    background-color: #3282B8;
    border: none;
    color: #fff;
    }

    .btn-primary:hover {
    background-color: #0F4C75;
    }

    .btn-secondary {
    background-color: #6c757d;
    color: #333;
    }

    .btn-secondary:hover {
    background-color: #5a6268;
    }